---
layout: page
title: Portfolio Grid
description: ''
tags: []
---

{% comment %} Start aside_bar {% endcomment %}
{% include aside_bar.html %}
{% comment %} End aside_bar {% endcomment %}

<div class="aside-overlay trigger-left">
</div>

{% comment %} Start header3 {% endcomment %}
{% include header3.html %}
{% comment %} End header3 {% endcomment %}

{% comment %} Start subheader2 {% endcomment %}
{% include subheader2.html %}
{% comment %} End subheader2 {% endcomment %}

<section class="section-padding isotope-filter-items">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="filter-btns mb-5">
                    <ul>
                        <li class="active filter-trigger" data-filter="*">
                            <a href="#">All</a>
                        </li>
                        {%- assign all_category = site.data.ui.portfolios | map: 'category' | uniq %}

                        {%- for category in all_category -%}
                        <li class="filter-trigger" data-filter=".{{ category | downcase }}">
                            <a href="#">
                                {{ category | capitalize }}
                            </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row filteritems">
            {% for portfolio in site.data.ui.portfolios limit: 9 %}
            {% comment %} Start portfolio. Block {% endcomment %}
            <div class="col-lg-4 col-md-6 masonry-item {{ portfolio.category | prepend: ' ' | downcase }}">
                <div class="portfolio_box">
                    <div class="portfolio_img">
                        <img src="{{ portfolio.image | relative_url }}" class="image-fit" alt="img">
                    </div>
                    <div class="portfolio_caption">
                        <div class="text_box">
                            <h4 class="title mb-0">
                                <a href="{{ portfolio.url }}">{{ portfolio.title | split: ' ' | first }}</a>
                            </h4>
                            <p>{{ portfolio.title }}</p>
                        </div>
                        <div class="btn_box mb-xl-30">
                            <a href="{{ portfolio.url }}" class="thm-btn bg-thm-color-two-light thm-color-two btn-rectangle btn-small">
                                <i class="fal fa-chevron-right font-weight-bold"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} End portfolio. Block {% endcomment %}
            {% endfor %}
        </div>
    </div>
</section>

{% comment %} Start cta4 {% endcomment %}
{% include cta2.html %}
{% comment %} End cta4 {% endcomment %}

{% comment %} Start footer4 {% endcomment %}
{% include footer4.html %}
{% comment %} End footer4 {% endcomment %}