<section class="section-padding pt-0 about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-7 col-lg-6">
        <div class="image_box wow fadeInLeft">
          <img
            src="{{ site.data.ui.about.image | relative_url }}"
            alt="img"
            class="image-fit image_1 rounded-circle"
          />
          <img
            src="{{ site.data.ui.about.image2 | relative_url  }}"
            alt="img"
            class="image-fit image_2 rounded-circle"
          />
        </div>
      </div>

      <div class="col-xl-5 col-lg-6">
        <h3 class="title">{{ site.data.ui.about.title }}</h3>
        <p>{{ site.data.ui.about.description }}</p>
        <p>{{ site.data.ui.about.description1 }}</p>
      </div>
    </div>
  </div>
</section>
