<section class="bg-thm-color-two-gradient z-1 video_quote">
  <img
    src="{{'assets/images/elements/element_2.png' | relative_url }}"
    class="element_2"
    alt="Element"
  />

  <div class="container-fluid p-0">
    <div class="row no-gutters align-items-center">
      <div class="col-lg-6">
        <div class="video_warp relative z-1">
          <img
            src="{{ site.data.ui.about_me.image2 | relative_url }}"
            alt="img"
            class="image-fit image_1 img-fluid"
          />
          <a
            href="{{ site.data.ui.video_quote.youtube_link }}"
            class="popup-youtube video_btn transform-center justify-content-center d-flex style_2"
          >
            {{ site.data.ui.video_quote.youtube }}
          </a>
        </div>
      </div>

      <div class="col-lg-6">
        <img
          src="{{'assets/images/elements/element_11.png' | relative_url }}"
          class="element_4 rotate_elem"
          alt="img"
        />
        <div class="quote_sec about relative z-1">
          <img
            src="{{'assets/images/elements/element_17.png' | relative_url }}"
            class="element_5 rotate_elem"
            alt="img"
          />
          <div class="section-title left-align wow fadeInDown">
            <h3 class="title mb-0">{{ site.data.ui.about_me.title}}</h3>
          </div>
          <p>{{ site.data.ui.about_me.description }}</p>
        </div>
      </div>
      {% include certificates.html %}
    </div>
  </div>
</section>
