<div class="banner relative z-1">
    
    <img src="{{'assets/images/banner/element_1.png' | relative_url}}" class="element_1" alt="Element" />
    <img src="{{'assets/images/banner/element_line.png' | relative_url}}" class="element_line" alt="Element Line" />

    <div class="transform-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="text_box">
                        <h1 class="title wow fadeInUp" data-wow-delay=".30ms">
                            {{ site.data.ui.banner.title }}
                        </h1>

                        <p class="wow fadeInUp" data-wow-delay=".40ms">
                            {{ site.data.ui.banner.description }}
                        </p>

                        <!-- <a href="{{ site.data.ui.banner.to_coach_link }}" class="thm-btn bg-thm-color-two thm-color-two-shadow btn-rounded mr-4 mb-4 wow fadeInRight" data-wow-delay=".50ms">
                            {{ site.data.ui.banner.to_coach }}
                        </a>

                        <a href="{{ site.data.ui.banner.youtube_link }}" class="video_btn video_text popup-youtube mb-4 wow fadeInRight" data-wow-delay=".70ms">
                            <i class="fas fa-play video_icon bg-thm-color-three"></i> 
                            <span>{{ site.data.ui.banner.youtube }}</span>
                        </a> -->

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="image_box relative wow fadeInRight" data-wow-delay=".80ms">
                         <img src="{{ site.data.ui.banner.image | relative_url }}" alt="img" class="image-fit image_1 rounded-circle">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line container"></div>
</div>