<div class="single_banner bg-thm-color-two-gradient relative z-1">
    <img src="{{'assets/images/elements/element_8.png' | relative_url }}" alt="element" class="element_1" />
    <div class="transform-center banne_text">
        <div class="container relative z-1">
            <div class="row">
                <div class="col-xl-6 col-lg-7 relative z-1">
                    <div class="banner_text">
                        <span class="tag_badge style_2 bg-thm-color-white thm-color-two wow fadeInUp" data-wow-delay=".40ms">{{ site.data.ui.banner2.tagline }}</span>
                        <h1 class="title wow fadeInDown" data-wow-delay=".50ms">{{ site.data.ui.banner2.title }}</h1>
                        <p class="wow fadeInUp" data-wow-delay=".60ms">{{ site.data.ui.banner2.description }}</p>
                        <a href="{{ site.data.ui.banner2.url_link }}" class="thm-btn bg-thm-color-two thm-color-two-shadow btn-rounded mr-2 mb-2 wow fadeInLeft" data-wow-delay=".70ms">
                            {{ site.data.ui.banner2.url }}
                        </a>
                        <a href="{{ site.data.ui.banner2.url2_link }}" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rounded mb-2 wow fadeInRight" data-wow-delay=".80ms">
                            {{ site.data.ui.banner2.url2 }}
                        </a>
                    </div>
                    <img src="{{'assets/images/elements/element_11.png' | relative_url }}" class="element_4 rotate_elem" alt="img" />
                    <img src="{{'assets/images/elements/element_12.png' | relative_url }}" class="element_5 rotate_elem" alt="img" />
                </div>
            </div>
            <img src="{{'assets/images/elements/element_9.png' | relative_url }}" class="element_2 slideRightTwo" alt="img" />
            <img src="{{'assets/images/elements/element_10.png' | relative_url }}" class="element_3 zoom-fade" alt="img" />
        </div>
    </div>

    <div class="shape_img relative">
        <img src="{{'assets/images/banner/banner_shape.png' | relative_url}}" class="wow fadeInDown" alt="img" />

        <div class="progress_box fadeInUp">
            <div class="circle_bar" data-percent="89" data-track-color="#ecf2ff" data-bar-color="#4b83fb" data-size="80">
                <div class="counter transform-center text-center">
                    <b data-from="0" data-to="89">{{ site.data.ui.banner2.count }}</b>
                </div>
            </div>

            <div class="text">
                <h5 class="mb-0">{{ site.data.ui.banner2.info }}</h5>
            </div>
        </div>
    </div>
</div>