<style>
  @media (min-width: 1024px) {
    /* Adjust breakpoint as needed */
    .banner-title-nowrap {
      white-space: nowrap;
    }
  }
</style>
<div class="banner relative z-1">
  <img
    src="{{'assets/images/banner/element_1.png' | relative_url}}"
    class="element_1 img-fluid"
    alt="Element"
  />
  <img
    src="{{'assets/images/banner/element_line.png' | relative_url}}"
    class="element_line img-fluid"
    alt="Element Line"
  />

  <div class="transform-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="text_box">
            <h1
              class="title wow fadeInUp banner-title-nowrap"
              data-wow-delay=".30ms"
            >
              {{ site.data.ui.banner.title1 }}
            </h1>
            <h1 class="title wow fadeInUp" data-wow-delay=".30ms">
              {{ site.data.ui.banner.title2 }}
            </h1>
            <p class="wow fadeInUp" data-wow-delay=".40ms">
              {{ site.data.ui.banner.description }}
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div
            class="image_box relative wow fadeInRight"
            data-wow-delay=".80ms"
          >
            <img
              src="{{ site.data.ui.banner.image | relative_url }}"
              alt="img"
              class="image-fit image_1 rounded-circle img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-line container"></div>
</div>
