<div class="cta_box style_2">
    <div class="container relative z-2">
        <div class="bg-thm-color-two cta_box_inner z-2 mb-negative">
            <img src="{{'assets/images/elements/shape.png' | relative_url }}" alt="shape" class="shape_1 zoom-fade" />

            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="text_block wow fadeInLeft">
                        <div class="section-title left-align white">
                            <p class="subtitle"><i class="fal fa-book"></i>{{ site.data.ui.cta.subtitle }}</p>
                            <h3 class="title">{{ site.data.ui.cta.title }}</h3>
                            <a href="{{ 'contact' | relative_url }}" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rectangle">
                                {{ site.data.ui.cta.button }}
                                <i class="fal fa-chevron-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="image_box relative z-1 wow fadeInRight">
                        <img src="{{'assets/images/elements/square_shape.png' | relative_url }}" alt="shape" class="shape_2 rotate_elem" />
                        <img src="{{site.data.ui.cta.image | relative_url }}" alt="img" class="image-fit" />
                        
                        <div class="arrows slideRight">
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="arrows to_up slideTop">
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
    </div>
</div>