<header class="header header-2 header-absolute">
  <div class="container">
    <div class="nav_warp">
      <nav>
        <div class="logo">
          <a href="{{'/' | relative_url }}">
            <img
              src="{{ site.data.ui.site.logo | relative_url  }}"
              alt="logo"
              class="image-fit"
            />
          </a>
        </div>
        <ul class="main-menu">
          {%- for menu in site.data.menus.header -%}
          <li
            class="menu-item {%- if menu.submenu -%} {{' menu-item-has-children'}}{%- endif -%}"
          >
            <a href="{{menu.path}}"> {{menu.label}} </a>
            {%- if menu.submenu -%}
            <ul class="sub-menu">
              {%- for submenu in menu.submenu -%}
              <li class="menu-item">
                <a href="{{submenu.path}}"> {{submenu.label}} </a>
              </li>
              {%- endfor -%}
            </ul>
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
      </nav>

      <div class="head_actions">
        <button type="button" class="head_trigger desktop_trigger">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <button type="button" class="head_trigger mobile_trigger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>
