<div class="bg-thm-color-two plane_box relative z-1">
    <div class="container relative z-1">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-11 relative z-1">
                <img src="{{'assets/images/elements/element_6.png' | relative_url}}" class="element_1 rotate_elem" alt="Element" />
                <h2 class="thm-color-white">{{ site.data.ui.plane.title }}</h2>
            </div>
        </div>
        <img src="{{'assets/images/elements/element_7.png' | relative_url}}" class="element_2 zoom-fade" alt="Element" />
    </div>
</div>