<section class="pricing_sec section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title wow fadeInDown">
                    <p class="subtitle"><i class="fal fa-book"></i>{{ site.data.ui.pricing.subtitle }}</p>
                    <h3 class="title">{{ site.data.ui.pricing.title }}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {%- assign types = "Monthly,Yearly" | split: ','  -%}
                <ul class="nav nav-tabs style_1 border-0 justify-content-center justify-content-lg-end wow fadeInRight">
                    {%- for type in types -%}
                    <li class="nav-item">
                        <a href="#{{type | downcase }}" class="nav-link mb-0 border-0 thm-btn bg-thm-color-one btn-rectangle  {%- if forloop.first -%}{{' active'}}{%- endif -%}" data-toggle="tab">
                            {{type}}
                            <i class="fal fa-chevron-right ml-2"></i>
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>

                <div class="tab-content">
                    {%- for type in types -%}
                    <div class="tab-pane fade {%- if forloop.first -%}{{'  active show'}}{%- endif -%}" id="{{type | downcase}}">
                        <div class="row no-gutters justify-content-center">
                            
                            {% for pricing in site.data.ui.pricings %}
                            <div class="col-lg-4 col-md-6">

                                <div class="plan_box wow fadeInDown {%- if pricing.active -%}
                                    {{ ' active'}}{%- endif -%}">
                                    <h4 class="plan_title">
                                        {{ pricing.title }}
                                    </h4>

                                    <p class="plan_subtext">
                                        {{ pricing.subtext }}
                                    </p>

                                    <h2 class="plan_price">
                                        {%- if type == 'Monthly' -%}
                                            {{ pricing.monthly_price }}
                                            {%- else -%}
                                            {{ pricing.yearly_price}}
                                        {%- endif -%}
                                    </h2>

                                    <ul class="about_list style_2 mb-xl-30">
                                        {{ pricing.list }}
                                    </ul>

                                    <a href="{{'contact' | relative_url }}" class="thm-btn bg-thm-color-two-light thm-color-one btn-rectangle">
                                        {{ pricing.buy }}
                                        <i class="fal fa-chevron-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>