<!-- for facebook  -->
<meta charset="utf-8" /><!-- html5 version of http-equiv="Content-Type"... -->

<meta property="og:url" content="{{site.data.ui.site.url}}" />
<meta property="og:image" content="{{site.data.ui.site.logo2}}" />
<meta property="og:description" content="{{site.data.ui.site.description}}" />
<meta property="og:title" content="{{site.data.ui.site.name}}" />
<meta property="og:site_name" content="{{site.data.ui.site.url}}" />
<meta property="og:see_also" content="{{site.data.ui.site.url}}" />

<!-- for google -->
<meta itemprop="name" content="{{site.data.ui.site.description}}" />
<meta itemprop="description" content="{{site.data.ui.site.description}}" />
<meta itemprop="image" content="{{site.data.ui.site.logo2}}" />

<!-- for twitter  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="{{site.data.ui.site.url}}" />
<meta name="twitter:title" content="{{site.data.ui.site.name}}" />
<meta name="twitter:description" content="{{site.data.ui.site.description}}" />
<meta name="twitter:image" content="{{site.data.ui.site.logo2}}" />
