<section class="skills-sec relative z-1">
    <div class="container-fluid p-0 h-100">
        <div class="row no-gutters h-100">
            <div class="col-lg-6">
                <div class="section-bg bg-thm-color-one h-100" style="background-image: url('{{\'assets/images/bg/bg_2.png\' | relative_url}}');">
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{ site.data.ui.skill.image }}" class="image-fit" alt="img">
            </div>
        </div>
    </div>

    <div class="transform-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title left-align white wow fadeInUp">
                        <p class="subtitle"><i class="fal fa-book"></i>{{ site.data.ui.skill.subtitle }}</p>
                        <h3 class="title">{{ site.data.ui.skill.title }}</h3>
                        <p class="thm-color-white">{{ site.data.ui.skill.description }}</p>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-8">
                    <div class="row justify-content-center">
                        {% for skill in site.data.ui.skills %}
                        <div class="col-md-4 col-sm-6">
                            <div class="progress_box grid wow fadeInDown" data-wow-delay=".20ms">
                                <div class="circle_bar" data-percent="89" data-track-color="#ecf2ff" data-bar-color="#4b83fb" data-size="80">
                                    <div class="counter transform-center text-center">
                                        <b data-from="0" data-to="{{ skill.count }}">0</b>
                                    </div>
                                </div>
                                <div class="text">
                                    <h5 class="mb-0">{{ skill.name }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>