<div class="section pt-0 video_box_elements mt-negative">
    <div class="container relative z-1">
        <div class="row">
            <div class="col-12">
                <div class="video_warp style_2 relative z-1 wow fadeInDown">
                    <img src="{{ site.data.ui.video.image2 }}" alt="img" class="image-fit">
                    <a href="{{ site.data.ui.video.youtube }}" class="popup-youtube transform-center justify-content-center d-flex">
                        <img src="{{'assets/images/icons/youtube.png' | relative_url }}" alt="icon">
                    </a>
                </div>
            </div>
        </div>

        <img src="{{'assets/images/elements/element_25.png' | relative_url}}" alt="element" class="element_1 rotate_elem" />
        <img src="{{'assets/images/elements/element_30.png' | relative_url}}" alt="element" class="element_2 rotate_elem" />
        <img src="{{'assets/images/elements/element_27.png' | relative_url}}" alt="element" class="element_3 rotate_elem" />

        <div class="arrows to_up one slideTop">
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
        <div class="arrows to_up two slideTop">
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
    </div>
</div>