<section class="bg-thm-color-two-gradient z-1 video_quote">
    <img src="{{'assets/images/elements/element_2.png' | relative_url }}" class="element_2" alt="Element" />

    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-lg-6">
                <div class="video_warp relative z-1 h-100">
                    <img src="{{ site.data.ui.video_quote.image | relative_url }}" alt="img" class="image-fit">
                    <a href="{{ site.data.ui.video_quote.youtube_link }}" class="popup-youtube video_btn transform-center justify-content-center d-flex style_2">
                        {{ site.data.ui.video_quote.youtube }}
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="arrows slideRight">
                    <div class="arrow"></div>
                    <div class="arrow"></div>
                    <div class="arrow"></div>
                    <div class="arrow"></div>
                    <div class="arrow"></div>
                </div>

                <img src="{{'assets/images/elements/element_11.png' | relative_url }}" class="element_4 rotate_elem" alt="img" />
                <div class="quote_sec about relative z-1">
                    <img src="{{'assets/images/elements/element_17.png' | relative_url }}" class="element_5 rotate_elem" alt="img" />
                    <div class="section-title left-align wow fadeInDown">
                        <h3 class="title mb-0">{{ site.data.ui.video_quote.title }}</h3>
                    </div>
                    <p>{{ site.data.ui.video_quote.description }}</p>
                    <form class="wow fadeInUp">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="#" class="form-control form-control-custom" placeholder="Your Name" autocomplete="off" />
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>

                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="#" class="form-control form-control-custom" placeholder="Email Address" autocomplete="off" />
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div> -->

                            <div class="col-sm-12">
                                <button type="submit" class="thm-btn bg-thm-color-two thm-color-two-shadow btn-rectangle">{{ site.data.ui.video_quote.submit }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>